@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

*{
    font-family: 'Nova Mono', monospace;
    color: white;
}

html{
    display: flex;
    justify-content: center;
}

body {
    background-color: #332845;
    max-width: 1024px;
}

header {
    height: 50vh;
    background-image: url("../assets/images/pic2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

h1{
    font-size: 2.5em;
    padding-top: 1em;
    
}

h2{
    font-size: xx-large;
    color: #4AE9FF;
    text-decoration: underline;
    margin: .5em;
    margin-top: 2em;
}
h3 {
    margin-top: 0;
    margin-bottom: .5em;
    color: black;
}

p{
    font-size: large;
}
a{
    padding: .5em;
    margin: .5em;
    background-color: #22737e;
}

.link-button {
    margin-bottom: 2em;
}

.heading{
    color: black;
    margin-top: 1em;
    
}
.hey {
    color: black;
}

#about {
    display: flex;
    flex-direction: column;
}

figure {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: thin #4AE9FF solid;
    width: fit-content;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    margin: 1em;
}

.about-photo {
    height: 300px;
    width: auto;
    object-fit: contain;
    margin: 1em;
}

.icon-label{
    margin: 0%;
}

.card {
    max-width: 300px;
    background-color: lightgray;
    margin: 2em;
    border-radius: 5px;

}

.card:hover {
    animation: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-content {
    margin: 1em;
}



.card-text {
    color: black;
    margin-left: 0%;
    font-size: 1em;
    margin-bottom: 2em;
}

.card-img {
    height: 150px;
    object-fit: contain;
    

}

.card-tech-heading {
    text-decoration: underline;
}

.card-icon-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-name {
    display: flex;
}

.section{
    margin-bottom: 4em;
}

.im{
    margin-right: .5em;
    color: black;
}

.name {
    color: #4AE9FF;
    background-color: black;
    border-radius: 10px;
}

.accent {
    color: #4AE9FF;

}

.icon {
   width: 50px; 
}

.card-icon{
    max-width: 50px;
}

.tailwind {
    padding-bottom: .5em;
    margin-top: 2em;
}

.tech-section {
    margin: 1em;
    margin-bottom: 5em;
}

.tech-section-header{
    color: white;
}

.programming-languages-logos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
    margin: 1em;
    width: 100px;
    height: 100px;
    padding: 1em;
}

.icon-container p {
    color: black;
}

.section-text {
    margin: 1em;
}

.django{
    height: 50px;
}

.tailwind-text{
    margin-top: .6em;
}



.shake {
    animation: shake 2s ease-in-out infinite;
    animation-delay: 1s;
  }
  @keyframes shake {
      0%, 10%{transform: translateX(0);}
      10%, 90%, 100% {transform: translateX(0);}
      20%, 40%, 60%, 80% {transform: translateX(-3px);}
      30%, 50%, 70% {transform: translateX(3px);}
  }

  .glow{
    animation: glow 1s infinite alternate;
  }

  @keyframes glow {
  from {
    box-shadow: 0 0 10px -10px hsl(212, 27%, 57%);
  }
  to {
    box-shadow: 0 0 10px 10px hsl(212, 27%, 57%);
  }
}